In [1]:
import numpy as np
import pandas as pd

In [3]:
Random_State = 42
np.random.seed(Random_State)

In [5]:
n_samples = 5000

In [7]:
age = np.random.randint(21, 65, n_samples)
annual_income = np.random.normal(800000, 300000, n_samples).clip(200000, None)
#.normal -> noraml(Gaussian) Distribution
# Mean -> Average Income = 8lakhs
# Standard Deviation -> Income will typically vary by about 3 lakhs (above/below)
employment_years = np.random.randint(0, 40, n_samples)
credit_score = np.random.normal(680, 60, n_samples).clip(300, 900)
existing_loans = np.random.poisson(2, n_samples)
debt_to_income = np.random.uniform(0.1, 0.8, n_samples)
loan_amount = np.random.normal(500000, 250000, n_samples).clip(50000, None)
interest_rate = np.random.uniform(8, 24, n_samples)
loan_tenure_months = np.random.choice([12, 24, 36, 48, 60], n_samples)

risk_score = (
    (900 - credit_score) * 0.4 +
    debt_to_income * 300 +
    existing_loans * 50 +
    (loan_amount / annual_income) * 200 +
    (interest_rate - 8) * 10
)

default_probability = 1 / (1 + np.exp(-risk_score / 200))
default = np.random.binomial(1, default_probability)
# Bernoulli Trial when n=1
    # Return 1 -> default occurred / 0 -> no default

data = pd.DataFrame({
    "age": age,
    "annual_income": annual_income,
    "employment_years": employment_years,
    "credit_score": credit_score,
    "existing_loans": existing_loans,
    "debt_to_income": debt_to_income,
    "loan_amount": loan_amount,
    "interest_rate": interest_rate,
    "loan_tenure_months": loan_tenure_months,
    "default": default
})

data.head()

,age,annual_income,employment_years,credit_score,existing_loans,debt_to_income,loan_amount,interest_rate,loan_tenure_months,default
0,59,3.696604e+05,7,709.460237,4,0.747930,246709.974845,23.047913,60,1
1,49,4.828002e+05,26,699.789384,4,0.460381,588472.735054,20.596041,36,1
2,35,6.703629e+05,14,676.293436,4,0.436770,355519.892644,19.768616,60,1
3,63,1.269386e+06,12,689.805669,4,0.797273,911677.761702,22.214834,12,1
4,28,7.259748e+05,15,644.163264,1,0.368751,779753.497258,20.316479,12,1